<html>
  <head>
  <title> Demo</title>

 </head>
<body>
  <input type="button" value="Show data" (click)="showdata()"/>
   <!--  <table *ngIf="employee">
            <tr>
                <th>Id</th>
                    <th>Name/th>
                        <th>City</th>
            </tr>

            <tr *ngFor="let employee of employee">
                <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                        <td>{{employee.city}}</td>
            </tr>
        </table> -->
</body>
</html>